@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
    --bg:        #FFFDFD;
    --bg-alt:    #FDF6ED;
    --accent:    #D4537E;
    --accent-2:  #BA7517;
    --text:      #1B2021;
    --text-soft: #53132A;
    --white:     #ffffff;
}

/* reset */
*, *::before, *::after { 
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
}

/* global */
html {  scroll-behavior: smooth; }

body { 
    background-color: var(--bg); 
    color: var(--text); 
    font-family: 'DM Sans', sans-serif; 
    font-weight: 300; 
    line-height: 1.7; 
    overflow-x: hidden; 
}

p { 
    font-size: 15px; 
    line-height: 1.9; 
    margin-bottom: 16px; 
    color: var(--text); 
}

img { 
    display: block; 
    width: 100%; 
    border-radius: 14px;
}

/* header */
header { 
    padding-left: 60px; 
    margin-top: 24px; 
}

h1 { 
    font-family: 'Cormorant Garamond', serif; 
    color: var(--text); 
    font-weight: 300; 
    font-size: clamp(32px, 8vw, 66px); 
    line-height: 1.05; 
}
em { font-style: italic; color: var(--accent); }

/* main */
main { 
    padding: 60px; 
    max-width: 1200px; 
    margin: 0 auto; 
}

.container { 
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    gap: 2rem; 
}

.card {
    border: 1px solid var(--accent);
    border-radius: 20px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-4px);
    box-shadow: 0 0 30px rgba(212, 83, 126, 0.15);
}

.card-body { padding: 24px;}

.card-image { padding: 10px; }

.card-tags { margin-bottom: 12px; }

.card-tag {
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0.04em;
    padding: 4px 10px;
    border-radius: 12px;
    background: var(--bg-alt);
}

.card-title {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 400;
    margin-bottom: 8px;
    font-size: 22px; 
    line-height: 1.3;
}

.card-links { 
    display: flex; 
    gap: 14px; 
} 
.card-link { 
    font-size: 12px; 
    font-weight: 500; 
    letter-spacing: 0.06em; 
    text-transform: uppercase; 
    color: var(--accent); 
    text-decoration: none; 
}
