@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');
/* variables */
:root {
    /* colors*/
    --onyx:  #393E41;
    --silverpink: #C7ACA1;
    --champagnepink: #EEDDD1;
    --platinum: #E7E4E0;
    /* fonts */
    --ff-primary: 'Montserrat', sans-serif;
    --ff-light: 200;
    --ff-regular: 400;
    --ff-bold: 600;
    /* sizes */
    --size-bg: 2.5em;
    --size-md: 2em;
    --size-sm: 1.25em;
    /* others */
    --spacing: 0.150rem;
    --transition: all 0.3s ease-in-out;
}

/* basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff-primary);
}

img {
    display: block;
    width: 100%;
}

a { 
    color: var(--onyx);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: var(--spacing);
}
  
a:hover {
    color: var(--onyx);
    text-decoration: none;
}

h1 { 
    letter-spacing: var(--spacing);
    text-transform: uppercase;
    color: var(--onyx);
    font-weight: var(--ff-bold);
    font-size: var(--size-bg);
    margin-top: 2rem;
}

p {
    font-size: 1em;
    line-height: 1.75;
}

body {
    background-color: var(--platinum); 
    font-size: 16px;
    padding: 0 5em;
}

/* HEADER */
header { padding: 1.5em 0; }

/* MAIN SECTION */
main { margin: 3rem 0; }

.box-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 2rem;
}

.box {
    max-width: 40%;
    height: 300px;
    transition: transform .5s ease-in-out;
}

.box img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: top;
}

.box p {
    background-color: var(--onyx);
    color: var(--platinum);
    padding: 0.5em 0;
    width: 100%;
    text-align: center;
    font-size: 1.1em;
}

.box:hover { transform: scale(1); }